# ROS 2 generated folders
**/build/
**/install/
**/log/

# OpenCR firmware/update files copied on robot
opencr_update/
opencr_update.tar.bz2

# Python cache
__pycache__/
*.pyc
*.pyo

# Colcon / test artifacts
.coverage
.pytest_cache/

# OS/editor files
.vscode/
.idea/
.DS_Store
